* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}


section.design-one,
section.design-one * {
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
    width: 100vw;
    overflow-x: hidden;
}

section {
    width: 100vw;
    padding: 1rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

section.design-one {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
    margin-right: 30px;
    padding-right: 30px;
    border-right: 2px #ffffff solid;
}

.social-icon {
    display: block;
    width: 32px;
    height: 30px;
}

.social-icon img {
    width: 100%;
    height: 100%;
}

.subscribe-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subscribe-text {
    flex-basis: 60%;
    margin-right: 20px;
}

.subscribe-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.subscribe-text p {
    font-size: 16px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: 10px;
}

.subscribe-form input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    flex-grow: 1;
}

.subscribe-btn {
    background-color: #5A8DD3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

section.design-two {
  background-color: #501403;
  color: #fff;
  padding: 40px 0;
  width: 100%;
  position: static;
  bottom: 0;
  left: 0;
  text-align: center;
}

.footer-content {
  display: inline-block;
  text-align: left;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 35px;
  margin-left: 425px;
}

.footer-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.footer-icon img {
  width: 100%;
  height: 100%;
  margin-left: 435px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #ccc;
}